html{
   background-size: cover !important;
    background-repeat: no-repeat !important;
  min-heigth: 100% !important;
  transition: .3s;
  
  body{
    // background-color: rgba(0, 0, 0, .5);
    min-heigth: 100% !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
  .qt{
    margin-top: 5%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .75);
     h5{
        text-shadow: rgba(255, 255, 255, .7) 0px 4px 5px;
    }
    .show-quote{
      margin: auto !important;
      display: block !important;
      padding: 30px 50px;
      
      h3{
        text-shadow: rgba(255, 255, 255, .7) 0px 4px 5px;
        p{
          font-size: 20px;
        }
      }
    }
  }
  
}
